body{
    background-color: rgb(0, 255, 200);

}

h1{
    text-align: center;
    border-style: solid;

    

}

h2{
    text-align: center;
}

#Pic1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border: solid 2px;
}